# .inputrc is used by all programs based on the GNU Readline Library, incl. bash (but not zsh), Python interactive shell etc.
# Run "bind -f ~/.inputrc" to source changes made to this file immediately.

# THIS IS SUPER IMPORTANT, ELSE YOU BREAK THE DEFAULTS
$include /etc/inputrc

set show-all-if-ambiguous on

# https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/
set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

# https://codeinthehole.com/tips/the-most-important-command-line-tip-incremental-history-searching-with-inputrc/
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

# https://brettterpstra.com/2015/07/09/shell-tricks-inputrc-binding-fun/-
# Alt left/right, just like Ctrl left/right, for moving the cursor by word
# read this blog post for more ideas..
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# C-n and C-p complete words using previously-typed words (like in vim):
"\C-n": dabbrev-expand
"\C-p": "\e-\C-n"
