# This is also in /etc/nanorc (on Fedora) but we replace (instead of append to) that in Dockerfile-toolbox
include "/usr/share/nano/*.nanorc"

# cd ~/nanorc ; git clone https://github.com/scopatz/nanorc
include ~/dev/nanorc/*.nanorc

# Customize some options, see /etc/nanorc for defaults and explanations

set afterends
set autoindent
set matchbrackets "(<[{)>]}"
set morespace
set nohelp # use F1 to show Help...
# Mouse prevents marking text for copy/paste elsewhere, so nope
set mouse
set positionlog
set smarthome
set smooth
set trimblanks
set linenumbers
set historylog
set tabsize 4
set tabstospaces
set zap
set softwrap
set atblanks
set cutfromcursor
set multibuffer
set guidestripe 120

set titlecolor bold,lagoon,black
set numbercolor italic,latte,black
set stripecolor brightred,black
set errorcolor brightred,black
set selectedcolor mint,magenta

# New options which requires latest Nano version
set saveonexit
set indicator

bind ^C copy all
bind ^D zap all
bind ^F whereis all
bind ^G findnext all
bind ^B wherewas all
# TODO what's findprevious typically bound to, e.g. in Eclipse, or Chrome?  (other than Shift-F3)
bind ^E findprevious all
bind ^R replace main
bind ^H chopwordleft main
bind ^O insert main
bind ^S savefile main
bind ^L gotoline main
bind ^L gotodir browser
bind ^P curpos main
bind ^Q exit all
bind ^V paste all
bind ^W cancel all
bind ^X cut all
bind ^Y redo main
bind ^Z undo all
bind ^Space complete main
bind ^/ comment all

# Unbind keys used by my Tmux configuration
unbind ^A all

# Customize default to show trailing whitespace
#
# NB: Unfortunately we cannot just do:
#   include "/usr/share/nano/default.nanorc"
# and then add e.g. use:
#   colour ...
# because that fails with:
#   A 'color' command requires a preceding 'syntax' command"
#
# Therefore we just copy/paste all of /usr/share/nano/default.nanorc ...

syntax default
comment "#"
color cyan "^[[:space:]]*#.*"
color ,red " +	+"
color brightred "(GNU )?nano [1-9]\.[0-9]\.[^[:space:][:punct:]]+"
color magenta "<[[:alnum:].%_+-]+@[[:alnum:].-]+\.[[:alpha:]]{2,}>"

# ... and then customize it:

# Trailing whitespace.
color ,red "[[:space:]]+$"
