# TODO Make this port activated, start only on first connection?
# If startup fails because /run/user/1000/podman does not exist, then run `systemctl enable --now --user podman.socket` (as setup.sh does)
# NB --security-opt label=disable is for podman-remote; TODO is there a better way?

[Unit]
Description=Podman container for dotfiles-fedora
Documentation=https://github.com/vorburger/vorburger-dotfiles-bin-etc
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=3
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--rm \
	--sdnotify=conmon \
	--replace \
	-d \
	--name dotfiles \
	-p 2222:2222 \
	-v home-git:/home/vorburger/git \
	-v /run/user/%U/podman:/run/user/1000/podman \
	--security-opt label=disable \
	--log-driver=journald \
	--pull=newer \
	gcr.io/vorburger/dotfiles-fedora:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
