[Desktop Entry]
Type=Application
Name=Brave Browser
Exec=brave-browser --password-store=gnome
Icon=brave-browser
Categories=Network;WebBrowser;
Terminal=false
